<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
	<title>ELFT Fejér Megyei Csoport {% block title %} {%endblock%}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-2">
  <meta http-equiv="Content-Language" content="hun">
  <meta name="Author" content="Horváth Árpád">
  <meta name="Keywords" content="szeminárium,előadás,csillagászat,asztrofizika,űrkutatás">
  <meta name="Keywords" content="seminars,talks,astronomy,astrophysics,cosmology,space science ">
  <meta name="Description" content="Az ELFT Fejér Megyei
Csoport által szervezett elsősorban ismeretterjesztő fizikai és csillagászati előadások" lang="hun">
  <meta name="Description" content="Scientific lectures for the general
public in the field of astronomy and physics">
  <meta name="DC.Title.alternative" content="Scientific lectures for the
general public in the field of astronomy and physics">
  <meta name="DC.Title" content="ELFT Fejér Megyei Csoport rendezvénynaptára">
  <meta name="DC.Creator" content="Szalay Istvánné">
  <meta name="DC.Subject" content="szeminárium" lang="hun">
  <meta name="DC.Subject" content="előadás" lang="hun">
  <meta name="DC.Subject" content="csillagászat" lang="hun">
  <meta name="DC.Subject" content="asztrofizika" lang="hun">
  <meta name="DC.Subject" content="űrkutatás" lang="hun">
  <meta name="DC.Subject" content="fizika" lang="hun">
  <meta name="DC.Subject" content="seminars">
  <meta name="DC.Subject" content="talks">
  <meta name="DC.Subject" content="astronomy">
  <meta name="DC.Subject" content="astrophysics">
  <meta name="DC.Subject" content="cosmology">
  <meta name="DC.Subject" content="space science ">
  <meta name="DC.Subject" content="physics">
  <meta name="DC.Type" content="organizational homepage">
  <meta name="DC.Language" scheme="ISO639-2" content="hun">
  <meta name="DC.Description" content="Az ELFT Fejér Megyei
Csoport által szervezett elsősorban ismeretterjesztő csillagászati és
fizika előadások" lang="hun">
  <meta name="DC.Description" content="Scientific lectures for the general
public in the field of astronomy and physics">
  <meta name="DC.Date.modified" scheme="DCTERMS.W3CDTF" content="2004-11-23">
  <meta name="DC.Publisher" content="MTA KFKI RMKI SZHK">
  <meta name="DC.Format" content="text/html">
  <meta name="DC.Identifier" scheme="URL" content="http://www.kfki.hu/~elftfeje/rendezvenyek/rendezvenyek.htm">
  <meta name="DC.Rights" content="http://www.kfki.hu/fszemle/copyright.html">
  <link rel="SCHEMA.DC" href="http://purl.org/dc/elements/1.1/">
  <link rel="SCHEMA.DCTERMS" href="http://purl.org/dc/terms/">
  <link rel="SHORTCUT ICON"
  href="http://django.arek.uni-obuda.hu/media/icons/elft4.ico"> 
  <style type="text/css">
p.title {
  font-weight: bold;
  font-style: italic;
  text-align: justify;
}
h1, h2, h3 {
  color: #000080;
}
div.item {
  border: 1px outset #b3b3b3;
  padding: 10px 30px;
  background-color: #f6f6f6;
  margin: 30px;
}
p.title, p.date, p.lecturer, p.link, p.place {
  margin-top: 4px;
  margin-bottom: 4px;
}
/*a {
  text-decoration: none;
  font-weight: 600;
}*/
h1, h2 {
  text-align: center;
}
p.logo {
  text-align: center;
}
div.main {
  background: white;
  border: 1px outset #a085f9;
  padding: 18px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}
hr {
  color: #a085f9;
  width: 80%
}
body {
  background-image:
  url('http://django.arek.uni-obuda.hu/media/icons/elft-fejer.jpg');
}

  </style>
</head><body>
<div style="" class="main">
  
      <p style="margin-top: 0pt;" align="center">
      <a href="http://django.arek.uni-obuda.hu/django/elft/naptar/2011/">Idei év rendezvényei</a> –
      <a href="http://www.kfki.hu/~elftfeje/rendezvenyek">Rendezvények
          régi archívuma</a> –
      <a href="http://www.kfki.hu/~elftfeje/">A Megyei Csoport főoldala</a> –
      <a
      href="http://django.arek.uni-obuda.hu/django/admin">Adminisztráció</a>
      </p>
      <hr>
      <p class="logo"><img style="width: 103px; height: 134px;"
      src="http://django.arek.uni-obuda.hu/media/icons/eotvost_k.jpg"
      alt="Eötvös Loránt Fizikai Társulat"><img style="
      height: 134px;"
      src="http://django.arek.uni-obuda.hu/media/icons/fejer_cimer.gif" alt="Fejér
      Megye címere"></p>
      <h1>ELFT Fejér Megyei Csoport</h1>
      <h2>{% block cim%}{{ year }}-es rendezvénynaptár{% endblock%}</h2>

{% block torzs %}
{% endblock torzs %}
      
{% block eszrevetel %}
      <p style="margin-top: 4px;" align="left">Az ezzel az oldallal
kapcsolatos észrevételeket <a href="http://www.arek.uni-obuda.hu/harp/elerhetoseg.html">Horváth
Árpádnak</a>
és/vagy <a href="mailto:elftfeje@mail.kfki.hu">Dr. Hudoba Györgynek</a>
írhatják meg.</p>
{% endblock eszrevetel %}
</div>

</body></html>
