      <hr>
      <h2>Csillagvizsgáló </h2>
      <p style="align:justify;">Felhívjuk figyelmét, hogy a Terkán Lajos
      Bemutató Csillagvizsgálóban (A Szabadművelődés Háza,
      Székesfehérvár, Fürdő sor 3.) a tanítási időszak nagy részében
      <span style="font-weight:bold;">távcsöves bemutatót</span> tartunk.  Pontos
      időtartamok iránt érdeklődhetnek az alábbi elérhetőségeken.</p>

      <p style="align:justify;"><span style="font-weight:bold;">Szakköreink</span> egész évben folyamatosan működnek a
művelődési ház nyári zárvatartását kivéve. Hétfőnként 17 órától általános
iskolásoknak, péntekenként 18 órától középiskolásoknak.</p>
      <p style="align:justify;"> A <a
          href="http://telapo.datatrans.hu">csillagda honlapján</a>
      további hasznos információk érhetőek el. Email-címünk:
      <a href="mailto:telapo@datatrans.hu">telapo@datatrans.hu</a>.</p>
      <p style="align:justify;">Minden érdeklődőt szeretettel várunk! </p>
      <hr>

