{% extends "elft/base.html" %}

{% block title %} &ndash; Események, {{year}} {% endblock title %}
{% block cim %}{{year}}. év eseményei időrendben {% endblock cim %}
{% block torzs %}

<div class="navigation">
{% if previous_year %}
  <a href="../{{previous_year}}">Előző év</a>
{% else %}
  (Előző év nincs tárolva)
{% endif %}
 –
  <a href="../">Főoldal</a>
 –
{% if next_year %}
  <a href="../{{next_year}}">Következő év</a>
{% else %}
  (Következő év nincs tárolva)
{% endif %}
</div>

{% if events %}
    {% for esemeny in events %}
        {% include "elft/event.html" %}
    {% endfor %} {# esemeny #}
{% else %}
    <p>Nincs előadás az adatbázisunkban ebből az évből. Ha tud ilyen
    előadásról jelezze nekünk a lap alján található elérési lehetőségek egyikén.</p>
{% endif %}

{% endblock torzs %}
