{% extends "elft/base.html" %}

{% block title %} &ndash; Főoldal {% endblock title %}

{% block cim %} Eseménynaptár főoldala {% endblock cim %}


{% block torzs %}
Ezen az oldalon tájékozódhat az Eötvös Loránd Fizikai Társulat Fejér Megyei
Csoportjának eseményeiről.

<div class="navigation">
    <a href="{% url 'person_list' %}">Előadóink listája</a> –
    <a href="{% url 'category_list' %}">Kategóriák listája</a> –
    <a href="{% url 'year' idei_ev %}">Idei teljes eseménynaptárunk</a>
</div>

<h3>Elkövetkező események</h3>
{% if esemenyek %}
    {% for esemeny in esemenyek %}
        {% include "elft/event.html" %}
    {% endfor %} {# esemeny #}
{% else %}
    <p>Nincs elkövetkező esemény az adatbázisunkban. Ha tud ilyen
    előadásról jelezze nekünk a lap alján található elérési lehetőségek egyikén.</p>
{% endif %}

<h3>Események az adatbázisban</h3>

<div>
    Összesen {{all_count}} esemény van az adatbázisunkban, amely az alábbiak szerint oszlik el az évek között.
</div>

{% for year in year_count %}
<a href="{% url 'year' year.year %}">{{year.year}}. év</a> ({{year.count}} esemény) {% if not forloop.last %} – {% endif %}
{% endfor %}


{% include "elft/csillagda.html" %}

{% endblock torzs %}
